@model IEnumerable<Product>

<div class="container">
    <div class="alert alert-success text-center">
        <h2 class="lead text-success fw-bold">All Products</h2>
    </div>
    <table class="table table-hover">
        <thead class="table table-dark">
            <tr>
                <th>Title</th>
                <th>Catagory</th>
                <th>User</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Rating</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.SubCatagory.Name</td>
                        <td>@item.User.UserName</td>
                        <td><span class="badge bg-success">@item.Price $</span></td>
                        <td>
                            @if (item.Quantity != 0)
                            {
                                <span class="badge bg-danger">@item.Quantity</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Out Of Stock</span>
                            }
                        </td>
                        <td><span class="badge bg-info">@item.Rating</span></td>
                    
                        <td>
                            <a onclick="confirmDelete('@item.Id')">
                                <i class="align-middle" data-feather="trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <div class="alert alert-warning text-center fw-bold">
                    <h2 class="lead">No products found :/</h2>
                </div>
            }
        </tbody>
    </table>
    @if (Model != null)
    {
        <ul class="pagination">
            @Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new {page,@class="page-item"}))
        </ul>
    }
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Sales</h5>
                    </div>

                    <div class="col-auto">
                        <div class="stat text-primary">
                            <i class="align-middle" data-feather="truck"></i>
                        </div>
                    </div>
                </div>
                <h1 class="mt-1 mb-3">$@ViewBag.totalSales</h1>
                <div class="mb-0">
                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                    <span class="text-muted">Since last week</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Visitors</h5>
                    </div>

                    <div class="col-auto">
                        <div class="stat text-primary">
                            <i class="align-middle" data-feather="users"></i>
                        </div>
                    </div>
                </div>
                <h1 class="mt-1 mb-3">@ViewBag.visitors People</h1>
                <div class="mb-0">
                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                    <span class="text-muted">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Earnings</h5>
                    </div>

                    <div class="col-auto">
                        <div class="stat text-primary">
                            <i class="align-middle" data-feather="dollar-sign"></i>
                        </div>
                    </div>
                </div>
                <h1 class="mt-1 mb-3">$@ViewBag.totalSales</h1>
                <div class="mb-0">
                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
                    <span class="text-muted">Since last week</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Orders</h5>
                    </div>

                    <div class="col-auto">
                        <div class="stat text-primary">
                            <i class="align-middle" data-feather="shopping-cart"></i>
                        </div>
                    </div>
                </div>
                <h1 class="mt-1 mb-3">Total @ViewBag.salesCount</h1>
                <div class="mb-0">
                    <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.25% </span>
                    <span class="text-muted">Since last week</span>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function confirmDelete(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                console.log(result)
                if (result.value) {
                    $.ajax({
                        url: '/Admin/Product/Delete/' + id,
                        type: 'POST',
                        success: function (data) {
                            if (data.success) {
                                location.reload()
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'Something went wrong while deleting the data.',
                                    'error'
                                );
                            }
                        }
                    });
                }
            });
        }


    </script>

}