@model IEnumerable<Contact>
<li class="nav-item dropdown">
    <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown"
       data-bs-toggle="dropdown">
        <div class="position-relative">
            <i class="align-middle" data-feather="message-square"></i>
            <span class="indicator">
                @(Model != null ? Model.Count() : 0)
            </span>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
        <div class="dropdown-menu-header">
            <div class="position-relative">
                @(Model != null ? Model.Count() : 0) New Messages
            </div>
        </div>
        <div class="list-group">
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <a href="/admin/contact/reply/@item.Id" class="list-group-item">
                        <div class="row g-0 align-items-center">
                            <div class="col-10 ps-2">
                                <div class="text-dark">@item.Subject</div>
                                <div class="text-muted small mt-1">@item.Email</div>
                                <div class="text-muted small mt-1">
                                    @item.Date.ToString("dd MMM")
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
            else
            {
                <div class="row g-0 align-items-center">
                    <div class="col-10 ps-2">
                        <div class="text-dark">
                            No notification yet 
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="dropdown-menu-footer">
            <a href="/admin/contact/" class="text-muted">Show all messages</a>
        </div>
    </div>
</li>