@model DetailsVM

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop Detail</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    @{
                        int count = 0;
                    }
                    @foreach (var item in Model.Product.ProductPictures)
                    {
                        <div class="carousel-item @(count == 0 ? "active" : "")">
                            <img class="w-100 h-100" src="@item.Picture.ImageUrl" alt="Image">
                        </div>
                        count++;
                    }
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>@Model.Product.Title</h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        @for (int i = 0; i < (int)Model.Product.Rating; i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                    </div>
                    <small class="pt-1">(@Model.Product.View) Views</small>
                </div>

                <h3 class="font-weight-semi-bold mb-4">
                    $@(Model.Product.Price - (Model.Product.Price * Model.Product.Discount / 100))
                </h3>
                <p class="mb-4 text-dark">
                    Seller:@Model.Product.User.FirstName @Model.Product.User.LastName
                </p>
                <p class="mb-4">
                    @Model.Product.Description
                </p>
                <div class="d-flex mb-4">
                    <strong class="text-dark mr-3">Catagory:@Model.Product.SubCatagory.Name</strong>
                </div>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3">
                        <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Reviews-->
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-1">
                        Reviews (@(Model.AllReviews != null ? Model.AllReviews.Count() : 0))
                    </a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Your Review</a>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row">
                            <h4 class="mb-4">(@(Model.AllReviews != null ? Model.AllReviews.Count() : 0)) reviews for "@Model.Product.Title"</h4>
                            @if (Model.AllReviews != null)
                            {
                                @foreach (var item in Model.AllReviews)
                                {
                                    <div class="col-md-12">
                                        <div class="media mb-4">
                                            <img src="@item.User.ProfilePhoto" alt="Image"
                                                 class="img-fluid mr-3 mt-1" style="width: 45px;">
                                            <div class="media-body">
                                                <h6>
                                                    @item.User.FirstName @item.User.LastName<small>
                                                        - <i>@item.User.JoinDate.ToString("dd MMM yyyy")</i>
                                                    </small>
                                                </h6>
                                                <div class="text-primary mb-2">
                                                    @if (item.Rating != 0)
                                                    {
                                                        @for (int i = 0; i < (int)item.Rating; i++)
                                                        {
                                                            <i class="fas fa-star"></i>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <small class="fas fa-star-half-alt"></small>
                                                        <small class="far fa-star"></small>
                                                        <small class="far fa-star"></small>
                                                        <small class="far fa-star"></small>
                                                        <small class="far fa-star"></small>
                                                    }
                                                </div>
                                                <p>@item.Comment</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab-pane-2">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4">Your reviews for "@Model.Product.Title"</h4>
                                @if (Model.YourReviews != null)
                                {
                                    @foreach (var item in Model.YourReviews)
                                    {
                                        <div class="media mb-4">
                                            <img src="@item.User.ProfilePhoto" alt="Image"
                                                 class="img-fluid mr-3 mt-1" style="width: 45px;">
                                            <div class="media-body">
                                                <h6>
                                                    You <small>
                                                        - <i>@item.User.JoinDate.ToString("dd MMM yyyy")</i>
                                                    </small>
                                                </h6>
                                                <div class="text-primary mb-2">
                                                    @for (int i = 0; i < (int)item.Rating; i++)
                                                    {
                                                        <i class="fas fa-star"></i>
                                                    }
                                                </div>
                                                <p>@item.Comment</p>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="alert alert-light fw-bold">
                                        Let us know what's your thoughts about this product
                                    </div>
                                }
                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4">Leave a review</h4>
                                <small>Your email address will not be published. Required fields are marked *</small>
                                <div class="d-flex my-3">
                                    <div class="text-primary">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                                <form method="post">
                                    <div class="form-group">
                                        <label for="message">Your Review *</label>
                                        <textarea id="message" name="Comment"
                                                  cols="30" rows="5" class="form-control"></textarea>

                                        <p class="mb-0 mr-2">Your Rating * :</p>
                                        <select name="Rating" class="form-control">
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-0">
                                        <input type="submit"
                                               onclick="postReview('@Model.Product.Id',event)"
                                               value="Leave Your Review" class="btn btn-primary px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Reviews End-->
</div>
<!-- Shop Detail End -->
<!-- Similar Products Start -->
<div class="container-fluid py-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">
            You May Also Like
        </span>
    </h2>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                @if (Model.SimilarProducts != null)
                {
                    @foreach (var item in Model.SimilarProducts)
                    {
                        <div class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="@item.ProductPictures.First().Picture.ImageUrl" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="/home/details/@item.Id">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">@item.Title</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>$@item.Price</h5><h6 class="text-muted ml-2">
                                        @if (item.Discount != 0)
                                        {
                                            <del>
                                                $@(
                                                   item.Price - (item.Price * item.Discount / 100)
                                                   )
                                            </del>
                                        }
                                    </h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(@item.View)</small>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-light fw-bold">No Similar Products Found !</div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Similar Products End -->
@section Scripts{
    <script>
        function postReview(productId, e) {
            e.preventDefault();
            const comment = $("#message").val();
            const rating = $("[name='Rating']").val();
            const dataObject = { productId: productId, rating: rating, comment: comment };
            console.log(dataObject)
            $.ajax({
                type: "Post",
                data: dataObject,
                url: "/Review/PostReview",
                dataType: "json",
                success: function (res) {
                    if (res) {
                        Swal.fire('Thanks for sharing your review')
                        $("#message").val("");
                        $("#rating").val("");
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    }
                    else{
                        Swal.fire("Warning","Make sure you fill out each box","error")
                    }
                }
            });

        }
    </script>
}